img {
    float: left;
    width: 60px;
    height: 80px;
    padding-top: 0px;
    padding-right: 10px;
}

.desc {
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.addon {
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-divider {
	border-top-width: 2px;
    border-color: #505050;
}

.pointer {
	cursor: pointer;
}

.shadow {
    box-shadow: 5px 5px 5px black;;
}
