.fullwidth {
  width: 100% !important;
}

input.input {
  min-width: 200px !important;
}

.image.is-96x128 {
  height: 128px;
  width: 96px;
}

.hide {
  display: none;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mtm10 {
   margin-top: -10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.ptb0 {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.tor .table.is-narrow td, .tor .table.is-narrow th {
  padding: 2px 5px !important;
}