<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <meta name="google-site-verification" content="IU1qx7deDIbCj6KQogH7dpSNB12sg97vtvqGxKsQRSQ" /> -->
        <title>{{.title}}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/css/uikit.almost-flat.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/css/components/form-select.almost-flat.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/css/components/sticky.almost-flat.min.css">
        <!-- <link rel="stylesheet" href="{{.Static}}css/custom.css"> -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/components/form-select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.2/js/components/sticky.min.js"></script>
        <!-- <script src="{{.Static}}js/ss.js"></script> -->
    </head>
    <body>
        {{template "content" .}}
    </body>
</html>
