<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="IU1qx7deDIbCj6KQogH7dpSNB12sg97vtvqGxKsQRSQ" />

  <title>RSS</title>

  <link rel="stylesheet" href="/public/css/bulma.css">
  <link rel="stylesheet" href="/public/css/font-awesome.css">
  <link rel="stylesheet" href="/public/css/custom.css">

</head>

<body>
  {{template "content" .}}
</body>

<script src="/public/js/ss.js"></script>

</html>
