{{define "content"}}

<nav class="nav hero is-default has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-tab" href="/">
        <span class="icon is-medium">
          <i class="fa fa-home"></i>
        </span> &nbsp; Home
      </a>
      <div class="nav-item">
        <p class="control is-expanded">
          <input class="input" type="search" placeholder="Поиск по всем полям" onkeyup="filter(this)">
        </p>
      </div>
    </div>
    <span class="nav-toggle">
        <span></span>
    <span></span>
    <span></span>
    </span>
    <div class="nav-right nav-menu">
      <div class="nav-item">
        <p class="control select">
          <select name="rating" id="rating" onchange="changeRating()">
            <option value="0">Все рейтинги</option>
            <option value="1">&gt;4.7</option>
            <option value="2">&gt;4.5</option>
            <option value="3">&gt;4.3</option>
            <option value="4">&gt;4</option>
            <option value="5">&gt;3</option>
          </select>
        </p>
      </div>
      <div class="nav-item">
        <p class="control select">
          <select class="uk-form-select" data-uk-form-select name="genre" id="genre" onchange="changeGenre()">
            <option value="-1">Все жанры</option>
            {{range $index, $genre := .Genres}}
            <option value="{{$index}}">{{$genre}}</option>
            {{end}}
          </select>
        </p>
      </div>
      <div class="nav-item">
        <p class="control select">
          <select class="uk-form-select" data-uk-form-select name="year" id="year" onchange="changeYear()">
            <option value="-1">Все года</option>
            {{range $index, $year := .Years}}
            <option value="{{$index}}">{{$year}}</option>
            {{end}}
          </select>
        </p>
      </div>
    </div>
  </div>
</nav>

<section class="section main">
  <div class="container">
    {{range $movie := .Movies}}
      <div class="box movie pt10">
        <div class="level mb10">
          <div class="level-left level-item">
            <p class="title is-5">{{$movie.Name}}{{if ne $movie.EngName ""}} / {{$movie.EngName}}{{end}}</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <figure class="image is-96x128">
              <img src="/public/img/{{$movie.Poster}}" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="tabs">
              <ul>
                <li class="is-active" id="t0"><a onclick="sw(this,0)">Описание</a></li>
                <li id="t1"><a onclick="sw(this,1)">Ссылки</a></li>
                <li id="t2"><a onclick="sw(this,2)">Информация</a></li>
              </ul>
            </div>
            <div class="dsc">
              <div class="columns">
                <div class="column is-9 ptb0">
                  <p>
                    {{$movie.Description}}
                  </p>
                </div>
                <div class="column is-3 ptb0">
                  {{if ne $movie.NNM 0.0}}
                    <p>NNM: <span class="rating">{{$movie.NNM}}</span></p>
                  {{end}}
                  {{if ne $movie.Kinopoisk 0.0}}
                    <p>Кинопоиск: {{$movie.Kinopoisk}}</p>
                  {{end}}
                  {{if ne $movie.IMDb 0.0}}
                    <p>IMDb: {{$movie.IMDb}}</p>
                  {{end}}
                  <div class="year">
                    Год: <a href="/search?year={{$movie.Year}}">{{$movie.Year}}</a>
                  </div>
                  <div class="genre">
                    Жанр:
                      {{range $index, $genre := $movie.Genre}}
                        <a href="/search?genre={{$genre}}">{{$genre}}</a>
                      {{end}}
                  </div>
                </div>
              </div>
            </div>

            <div class="tor mtm10 hide">
              <table class="table is-narrow">
                <thead>
                  <tr>
                    <th class="small">Форум</th>
                    <th>Magnet</th>
                    <th>Размер</th>
                    <th>Сиды</th>
                    <th>Пиры</th>
                    <th>Перевод</th>
                    <th>Дата</th>
                  </tr>
                </thead>
                <tbody>
                  {{range $index, $torrent := $movie.Torrent}}
                    <tr>
                      <td>
                        <span class="icon">
                          <a href="http://nnm-club.name/forum/viewtopic.php?t={{$torrent.Href}}">
                            <i class="fa fa-external-link"></i>
                          </a>
                        </span>
                      </td>
                      <td>
                        <span class="icon">
                          <a href="magnet:?xt=urn:btih:{{$torrent.Magnet}}">
                            <i class="fa fa-magnet"></i>
                          </a>
                        </span>
                      </td>
                      <td>
                        {{$torrent.Size}} Мб
                      </td>
                      <td>
                        <a href="#">
                          <i class="fa fa-long-arrow-up"></i>
                        </a> {{$torrent.Seeders}}
                      </td>
                      <td>
                        <a href="#">
                          <i class="fa fa-long-arrow-down"></i>
                        </a> {{$torrent.Leechers}}
                      </td>
                      <td>
                        {{$torrent.Translation}}
                      </td>
                      <td>
                        {{$torrent.DateCreate}}
                      </td>
                    </tr>
                  {{end}}
                </tbody>
              </table>
            </div>

            <div class="inf hide">
              <div class="columns">
                <div class="column is-2 ptb0">Страна:</div>
                <div class="column is-9 ptb0">
                  {{range $index, $country := $movie.Country}}
                    <a href="/search?country={{$country}}">{{$country}}</a>
                  {{end}}
                </div>
              </div>
              <div class="columns">
                <div class="column is-2 ptb0">Режиссер:</div>
                <div class="column is-9 ptb0">
                  {{range $index, $director := $movie.Director}}
                    <a href="/search?director={{$director}}">{{$director}}</a>
                  {{end}}
                </div>
              </div>
              <div class="columns">
                <div class="column is-2 ptb0">Актеры:</div>
                <div class="column is-9 ptb0">
                  {{range $index, $actor := $movie.Actor}}
                    <a href="/search?actor={{$actor}}">{{$actor}}</a>
                  {{end}}
                </div>
              </div>
              <div class="columns">
                <div class="column is-2 ptb0">Время:</div>
                <div class="column is-9 ptb0">{{$movie.Duration}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{end}}
  </div>
</section>

{{end}}
