{{ extends "/base.html" }}

{{define "content"}}

    <div class="px3 lg-px4">
        <movie></movie>
    </div>

    <script src="/public/js/movie.tag" type="riot/tag"></script>

    <script src="//cdn.jsdelivr.net/riot/2.4/riot+compiler.min.js"></script>

    <script>
        var url = "/movies?offset=0&limit=10";
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var data = JSON.parse(xmlhttp.responseText);
                riot.mount('movie', { data: data });
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    </script>

{{end}}